<div class="load-bg" id="load">
    <div class="loading-container">
        <div class="load-dot-1"></div>
        <div class="load-dot-2"></div>
        <div class="load-dot-3"></div>
    </div>
</div>
<script type="text/javascript">
    console.log('yes')
    var loader = document.getElementById('load')
    window.addEventListener("load", function(){
        console.log('yes')
        loader.style.display="none"
    })
</script>