<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    {{#if title}}
    <title>{{title}}</title>
    {{else}}
    <title>TaskZ</title>
    {{/if}}
    <link rel="stylesheet" type="text/css" href="/public/style.css" />
    <link rel="stylesheet" type="text/css" href="/public/load.css" />
    {{#if css}}
        {{#each css}}
            <link rel="stylesheet" type="text/css" href="/public/{{this}}.css" />
        {{/each}}
    {{/if}}


<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Rubik:wght@300;500&family=Supermercado+One&display=swap" rel="stylesheet"> 
<link href="https://cdn.jsdelivr.net/npm/suneditor@latest/dist/css/suneditor.min.css" rel="stylesheet">
<link rel="icon" href="https://hotemoji.com/images/emoji/r/11radipf6987r.png" type="image/icon type">

    
</head>
<body>
    {{> loading}}
    {{{body}}}
</body>
</html>