/* CREATE TASK PAGE */

.task-create-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.create-form{
  position: relative;
  background: #F6F3FE;
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  margin: 2rem 10rem;
  border-radius: 0.75em;
  border: 0.18em solid black;
}

.create-form-bg{
  position: absolute;
  top: 0.1rem;
  bottom: 0;
  left: 0.1rem;
  right: 0;
  background-color: transparent;
  width: 101.5%;
  height: 103%;
  z-index: -1;
  background: #ccffaf;
  border-radius: 0.75em;
  border: 0.18em solid black;
}

.create-form label{
    margin-top: 0.5rem;
}

emoji-picker {
  position: fixed;
  z-index: 10 !important;
  opacity: 0;
  display: none;
}

#emoji-input {
  margin: 0.2rem;
  width: 2rem;
  height: 2rem;
  font-size: 1.5rem;
  text-align: center;
  border-radius: 50%;
  background-color: white;
  border: none;
  cursor: pointer;
  cursor: text none;
  transition: 0.3s;
}
#emoji-input:hover {
  box-shadow: 0 0 0.5rem 0.1rem rgb(255, 255, 255);
}

.theme-container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.theme-container div{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#task-color::-moz-color-swatch {
  border-radius:50% ;
}
#task-color {
  margin-top: 0.2rem;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: white;
  border: none;
  cursor: pointer;
}
#task-color:hover {
  box-shadow: 0 0 0.5rem 0.1rem rgb(255, 255, 255);
}



.name-date-container {
  display: flex;
  justify-content: space-between;
}

.name-container {
  flex: start;
  display: flex;
  flex-direction: column;
}
.date-container {
  margin-right: 0.3rem;
  text-align: end;
  flex: end;
  display: flex;
  flex-direction: column;
}

#task-name, #task-datetime{
  margin-top: 0.2rem;
  padding: 5px;
}

#textarea {
  width: 95%;
}

.submit-container{
  display: flex;
  justify-content: space-between;
  margin-top: 0.5rem;
}

.submit-container a, .submit-container #task-save{
  all: unset;
  background: none;
  border: 0.1rem solid rgba(0, 0, 0, 0.3);
  text-decoration: none;
  color: rgb(20, 20, 20);
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-radius: 0.2rem;
  cursor: pointer;
  transition: 0.3s;
}

.submit-container a:hover {
  background-color: rgba(223, 87, 87, 0.8);
  color: white;
}

.submit-container #task-save:hover {
  background-color: rgba(87, 223, 105, 0.8);
  color: white;
}

.done-day, .done-due-day, .done-time, .done-due-time {
  font-size: large;
}

#create-error{
  width: 100%;
}